version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: wheredidmymoneygo_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: where_did_my_money_go
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
